* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
}

label {
  font-size: 20px;
}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  border: solid black 2px;
  background-color: antiquewhite;
  height: 860px;
  width: 860px;
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
}

.selection-box {
  margin: 100px 0 20px 0;
}

.box {
  background-color: #ccc;
  padding: 1px;
  /* margin: 0.5px; */
}

.hovered-box {
  background-color: #333;
}

.reset {
  border: none;
  padding: 12px 50px;
  background-color: #ccc;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 85%;
}

.start {
  border: none;
  padding: 8px 30px;
  background-color: #ccc;
  font-size: 20px;
  cursor: pointer;
}