* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  border: solid black 2px;
  background-color: antiquewhite;
  margin: auto;
  height: 860px;
  width: 860px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.box {
  background-color: #bbb;
  padding: 1px;
  /* margin: 0.5px; */
}

.hovered-box {
  background-color: #333;
}