* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 20px;
}

.container {
  display: grid;
  border: solid black 2px;
  background-color: antiquewhite;
  height: 720px;
  width: 720px;
}

.selection-box {
  margin: 20px 0 0 0;
}

.box {
  background-color: #ccc;
  padding: 1px;
  /* margin: 0.5px; */
}

.hovered-box {
  background-color: #333;
}

.reset {
  border: none;
  padding: 8px 30px;
  background-color: #ccc;
  font-size: 20px;
  cursor: pointer;
}

.start {
  border: none;
  padding: 8px 30px;
  background-color: #ccc;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 2560px) {
  .container {
    width: 920px;
    height: 920px;
  }
}

@media (max-width: 1920px) {
  .container {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 1600px) {
  .container {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 560px;
    height: 560px;
  }
}